// Colours
$clr-white: hsl(0, 0%, 100%);
$clr-pink: hsl(333, 80%, 67%);
$clr-magenta: hsl(300, 43%, 22%);
$clr-grey-dark: hsl(303, 10%, 53%);
$clr-grey-light: hsl(300, 24%, 96%);

// Fonts
$font-family-primary: "Spartan", sans-serif;
$font-weight-light: 400;
$font-weight-primary: 500;
$font-weight-bold: 700;
