*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Spartan", sans-serif;
}

p {
  line-height: 1.5;
}

body {
  padding: 5rem 1.5rem;
  background: no-repeat top left/contain url(./images/bg-pattern-top-mobile.svg), no-repeat bottom right/contain url(./images/bg-pattern-bottom-mobile.svg), #fff;
}

.social-hero__heading {
  text-align: center;
  color: #502050;
  font-size: 2.2em;
  line-height: 1;
  letter-spacing: -1.5px;
}

.social-hero__copy {
  text-align: center;
  color: #937b92;
  font-weight: 500;
  font-size: 0.9em;
  padding: 1.75rem 0 3rem 0;
}

.social-hero__review-list {
  list-style: none;
  padding-inline-start: 0;
}
.social-hero__review-list > .social-hero__review-item {
  margin-bottom: 1rem;
}
.social-hero__review-list > .social-hero__review-item:last-child {
  margin-bottom: 0;
}

.social-hero__review-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f2f7;
  border-radius: 10px;
  padding: 1rem;
}

.social-hero__review-item-text {
  padding: 0.5rem 0 0 0;
  font-size: 0.8em;
  font-weight: 700;
  color: #502050;
}

.social-hero__testamonial-list {
  list-style: none;
  padding-inline-start: 0;
  padding: 3rem 0 0 0;
}
.social-hero__testamonial-list > .social-hero__testamonial-item {
  margin-bottom: 1rem;
}
.social-hero__testamonial-list > .social-hero__testamonial-item:last-child {
  margin-bottom: 0;
}

.social-hero__testamonial-item {
  background-color: #502050;
  padding: 2.5rem 2rem;
  border-radius: 10px;
  color: white;
}

.social-hero__testamonial-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.social-hero__testamonial-user-group {
  padding: 0 0 0 1.5rem;
}

.social-hero__testamonial-name {
  color: inherit;
  font-size: 0.85em;
}

.social-hero__testamonial-status {
  color: #ee68a4;
  font-weight: 400;
  font-size: 0.85em;
  padding: 0.35rem 0 0 0;
}

.social-hero__testamonial-image {
  border-radius: 50%;
  max-width: 15%;
}

.social-hero__testamonial-copy {
  color: inherit;
  font-size: 0.8em;
  font-weight: 500;
  padding: 1.5rem 0 0 0;
  line-height: 1.6;
}

@media screen and (min-width: 1300px) {
  body {
    padding: 8rem 10rem;
    background: no-repeat top left/40% url(./images/bg-pattern-top-desktop.svg), no-repeat bottom right/75% url(./images/bg-pattern-bottom-desktop.svg), #fff;
  }

  .social-hero__reviews {
    display: flex;
  }

  .social-hero__header {
    flex-basis: 50%;
    padding-right: 6rem;
  }

  .social-hero__heading {
    text-align: left;
    font-size: 3em;
  }

  .social-hero__copy {
    text-align: left;
    padding: 1.75rem 0 0 0;
  }

  .social-hero__review-list {
    flex-basis: 50%;
    width: 90%;
    height: fit-content;
    margin: auto;
  }
  .social-hero__review-list > .social-hero__review-item:nth-child(1) {
    margin: 0 auto 1rem 0;
  }
  .social-hero__review-list > .social-hero__review-item:nth-child(2) {
    margin: 0 auto 1rem auto;
  }
  .social-hero__review-list > .social-hero__review-item:nth-child(3) {
    margin: 0 0 0 auto;
  }

  .social-hero__review-item {
    flex-direction: row;
    width: 75%;
  }

  .social-hero__review-item-text {
    padding: 0 0 0 2rem;
  }

  .social-hero__testamonial-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 0 0;
  }
  .social-hero__testamonial-list > .social-hero__testamonial-item {
    flex-basis: 33%;
  }
  .social-hero__testamonial-list > .social-hero__testamonial-item:nth-child(1) {
    margin: -2rem 2rem 0 0;
  }
  .social-hero__testamonial-list > .social-hero__testamonial-item:nth-child(2) {
    margin: 0 2rem 0 0;
  }
  .social-hero__testamonial-list > .social-hero__testamonial-item:nth-child(3) {
    margin: 0 0 -2rem 0;
  }

  .social-hero__testamonial-item {
    height: 100%;
  }
}
